In [117]:
#Importing the necessary packages

import numpy as np
import pandas as pd
import matplotlib.pyplot as plt

players = pd.read_csv("C:\\Users\\siddh\\OneDrive\\Desktop\\Temporary Files\\FootballPrediction\\players_20.csv") #change to your directory

In [118]:
print(" Dataset Length :: ", len(players))
print(" Dataset Shape :: ", players.shape)

 Dataset Length ::  18278
 Dataset Shape ::  (18278, 104)

In [119]:
for col in players.columns:
    print(col, end=' ')

sofifa_id player_url short_name long_name age dob height_cm weight_kg nationality club overall potential value_eur wage_eur player_positions preferred_foot international_reputation weak_foot skill_moves work_rate body_type real_face release_clause_eur player_tags team_position team_jersey_number loaned_from joined contract_valid_until nation_position nation_jersey_number pace shooting passing dribbling defending physic gk_diving gk_handling gk_kicking gk_reflexes gk_speed gk_positioning player_traits attacking_crossing attacking_finishing attacking_heading_accuracy attacking_short_passing attacking_volleys skill_dribbling skill_curve skill_fk_accuracy skill_long_passing skill_ball_control movement_acceleration movement_sprint_speed movement_agility movement_reactions movement_balance power_shot_power power_jumping power_stamina power_strength power_long_shots mentality_aggression mentality_interceptions mentality_positioning mentality_vision mentality_penalties mentality_composure defending_marking defending_standing_tackle defending_sliding_tackle goalkeeping_diving goalkeeping_handling goalkeeping_kicking goalkeeping_positioning goalkeeping_reflexes ls st rs lw lf cf rf rw lam cam ram lm lcm cm rcm rm lwb ldm cdm rdm rwb lb lcb cb rcb rb

In [120]:
players.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 18278 entries, 0 to 18277
Columns: 104 entries, sofifa_id to rb
dtypes: float64(16), int64(45), object(43)
memory usage: 14.5+ MB

In [121]:
players.head()

,sofifa_id,player_url,short_name,long_name,age,dob,height_cm,weight_kg,nationality,club,...,lwb,ldm,cdm,rdm,rwb,lb,lcb,cb,rcb,rb
0,158023,https://sofifa.com/player/158023/lionel-messi/...,L. Messi,Lionel Andrés Messi Cuccittini,32,1987-06-24,170,72,Argentina,FC Barcelona,...,68+2,66+2,66+2,66+2,68+2,63+2,52+2,52+2,52+2,63+2
1,20801,https://sofifa.com/player/20801/c-ronaldo-dos-...,Cristiano Ronaldo,Cristiano Ronaldo dos Santos Aveiro,34,1985-02-05,187,83,Portugal,Juventus,...,65+3,61+3,61+3,61+3,65+3,61+3,53+3,53+3,53+3,61+3
2,190871,https://sofifa.com/player/190871/neymar-da-sil...,Neymar Jr,Neymar da Silva Santos Junior,27,1992-02-05,175,68,Brazil,Paris Saint-Germain,...,66+3,61+3,61+3,61+3,66+3,61+3,46+3,46+3,46+3,61+3
3,200389,https://sofifa.com/player/200389/jan-oblak/20/...,J. Oblak,Jan Oblak,26,1993-01-07,188,87,Slovenia,Atlético Madrid,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,183277,https://sofifa.com/player/183277/eden-hazard/2...,E. Hazard,Eden Hazard,28,1991-01-07,175,74,Belgium,Real Madrid,...,66+3,63+3,63+3,63+3,66+3,61+3,49+3,49+3,49+3,61+3

In [122]:
# Removing Unwanted Columns

useless_column = ['dob', 'sofifa_id', 'player_url', 'long_name', 'body_type', 'real_face', 'nation_position', 'loaned_from', 'nation_jersey_number', 'player_traits']
players = players.drop(useless_column, axis = 1)

In [123]:
# To add a new column called main position

players['main_position'] = players['player_positions'].str.split(pat = ',', n = -1, expand = True)[0]
selected_columns = ['short_name', 'club', 'main_position', 'overall']
print(players[selected_columns].head(5))

          short_name                 club main_position  overall
0           L. Messi         FC Barcelona            RW       94
1  Cristiano Ronaldo             Juventus            ST       93
2          Neymar Jr  Paris Saint-Germain            LW       92
3           J. Oblak      Atlético Madrid            GK       91
4          E. Hazard          Real Madrid            LW       91

In [124]:
# condensing weight and height columns to BMI index AND Dropping the columns

players['bmi'] = players['weight_kg']/(players['height_cm']/100)**2
selected_columns = ['short_name', 'club', 'main_position', 'overall', 'bmi']
players = players.drop(['weight_kg', 'height_cm'], axis = 1)
print(players[selected_columns].head(5))

          short_name                 club main_position  overall        bmi
0           L. Messi         FC Barcelona            RW       94  24.913495
1  Cristiano Ronaldo             Juventus            ST       93  23.735308
2          Neymar Jr  Paris Saint-Germain            LW       92  22.204082
3           J. Oblak      Atlético Madrid            GK       91  24.615211
4          E. Hazard          Real Madrid            LW       91  24.163265

In [125]:
goalkeepers = players.loc[players['main_position'] == 'GK']
goalkeepers.head()

,short_name,age,nationality,club,overall,potential,value_eur,wage_eur,player_positions,preferred_foot,...,cdm,rdm,rwb,lb,lcb,cb,rcb,rb,main_position,bmi
3,J. Oblak,26,Slovenia,Atlético Madrid,91,93,77500000,125000,GK,Right,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,GK,24.615211
6,M. ter Stegen,27,Germany,FC Barcelona,90,93,67500000,250000,GK,Right,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,GK,24.307244
13,Alisson,26,Brazil,Liverpool,89,91,58000000,155000,GK,Right,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,GK,24.944492
14,De Gea,28,Spain,Manchester United,89,90,56000000,205000,GK,Right,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,GK,22.243924
25,Ederson,25,Brazil,Manchester City,88,91,54500000,185000,GK,Left,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,GK,24.332277

In [126]:
players = players.drop(goalkeepers.index)
players.head()

,short_name,age,nationality,club,overall,potential,value_eur,wage_eur,player_positions,preferred_foot,...,cdm,rdm,rwb,lb,lcb,cb,rcb,rb,main_position,bmi
0,L. Messi,32,Argentina,FC Barcelona,94,94,95500000,565000,"RW, CF, ST",Left,...,66+2,66+2,68+2,63+2,52+2,52+2,52+2,63+2,RW,24.913495
1,Cristiano Ronaldo,34,Portugal,Juventus,93,93,58500000,405000,"ST, LW",Right,...,61+3,61+3,65+3,61+3,53+3,53+3,53+3,61+3,ST,23.735308
2,Neymar Jr,27,Brazil,Paris Saint-Germain,92,92,105500000,290000,"LW, CAM",Right,...,61+3,61+3,66+3,61+3,46+3,46+3,46+3,61+3,LW,22.204082
4,E. Hazard,28,Belgium,Real Madrid,91,91,90000000,470000,"LW, CF",Right,...,63+3,63+3,66+3,61+3,49+3,49+3,49+3,61+3,LW,24.163265
5,K. De Bruyne,28,Belgium,Manchester City,91,91,90000000,370000,"CAM, CM",Right,...,77+3,77+3,77+3,73+3,66+3,66+3,66+3,73+3,CAM,21.366869

In [127]:
# converting player 'Field Stats' into int64 type & filling NULL values

columns = ['ls','st','rs','lw','lf','cf','rf','rw','lam','cam','ram','lm','lcm','cm','rcm','rm','lwb','ldm', 'cdm','rdm','rwb','lb','lcb','cb','rcb','rb']
players[columns].head()

,ls,st,rs,lw,lf,cf,rf,rw,lam,cam,...,lwb,ldm,cdm,rdm,rwb,lb,lcb,cb,rcb,rb
0,89+2,89+2,89+2,93+2,93+2,93+2,93+2,93+2,93+2,93+2,...,68+2,66+2,66+2,66+2,68+2,63+2,52+2,52+2,52+2,63+2
1,91+3,91+3,91+3,89+3,90+3,90+3,90+3,89+3,88+3,88+3,...,65+3,61+3,61+3,61+3,65+3,61+3,53+3,53+3,53+3,61+3
2,84+3,84+3,84+3,90+3,89+3,89+3,89+3,90+3,90+3,90+3,...,66+3,61+3,61+3,61+3,66+3,61+3,46+3,46+3,46+3,61+3
4,83+3,83+3,83+3,89+3,88+3,88+3,88+3,89+3,89+3,89+3,...,66+3,63+3,63+3,63+3,66+3,61+3,49+3,49+3,49+3,61+3
5,82+3,82+3,82+3,87+3,87+3,87+3,87+3,87+3,88+3,88+3,...,77+3,77+3,77+3,77+3,77+3,73+3,66+3,66+3,66+3,73+3

In [128]:
for col in columns:
    players[col] = players[col].str.split('+', n = 1, expand = True)[0]
players[columns] = players[columns].fillna(0)
players[columns] = players[columns].astype(int)

players[columns].head()

,ls,st,rs,lw,lf,cf,rf,rw,lam,cam,...,lwb,ldm,cdm,rdm,rwb,lb,lcb,cb,rcb,rb
0,89,89,89,93,93,93,93,93,93,93,...,68,66,66,66,68,63,52,52,52,63
1,91,91,91,89,90,90,90,89,88,88,...,65,61,61,61,65,61,53,53,53,61
2,84,84,84,90,89,89,89,90,90,90,...,66,61,61,61,66,61,46,46,46,61
4,83,83,83,89,88,88,88,89,89,89,...,66,63,63,63,66,61,49,49,49,61
5,82,82,82,87,87,87,87,87,88,88,...,77,77,77,77,77,73,66,66,66,73

In [129]:
# function to map object-type column to int64-type column

def column_mapping(column_name):
    unique_strings = players[column_name].unique()
    map = {string: i for i, string in enumerate(unique_strings)}
    players[column_name] = players[column_name].map(map)

In [130]:
#mapping main position of players to an integer

unique_values = players['main_position'].unique()
for i in range (len(unique_values)):
    print (i, '\t', unique_values[i])
column_mapping('main_position')
print(players[['short_name', 'main_position']].head())

0 	 RW
1 	 ST
2 	 LW
3 	 CAM
4 	 CB
5 	 CM
6 	 CDM
7 	 CF
8 	 LB
9 	 RB
10 	 RM
11 	 LM
12 	 LWB
13 	 RWB
          short_name  main_position
0           L. Messi              0
1  Cristiano Ronaldo              1
2          Neymar Jr              2
4          E. Hazard              2
5       K. De Bruyne              3

In [131]:
# selecting all columns with type as 'object'

object_columns = players.select_dtypes(include = ['object']).columns
for col in object_columns:
    print(col)

short_name
nationality
club
player_positions
preferred_foot
work_rate
player_tags
team_position
joined

In [132]:
for col in object_columns:
    column_mapping(col)
print(players[object_columns].head())

   short_name  nationality  club  player_positions  preferred_foot  work_rate  \
0           0            0     0                 0               0          0
1           1            1     1                 1               1          1
2           2            2     2                 2               1          2
4           3            3     3                 3               1          2
5           4            3     4                 4               1          3

   player_tags  team_position  joined
0            0              0       0
1            1              1       1
2            2              2       2
4            3              1       3
5            4              3       4

In [133]:
# filling null values in stats

columns = ['dribbling', 'defending', 'physic', 'passing', 'shooting', 'pace']
players[columns]

for col in columns:
    players[col] = players[col].fillna(players[col].median())
players[columns]

       dribbling  defending  physic  passing  shooting  pace
0           96.0       39.0    66.0     92.0      92.0  87.0
1           89.0       35.0    78.0     82.0      93.0  90.0
2           95.0       32.0    58.0     87.0      85.0  91.0
4           94.0       35.0    66.0     86.0      83.0  91.0
5           86.0       61.0    78.0     92.0      86.0  76.0
...          ...        ...     ...      ...       ...   ...
18273       33.0       47.0    51.0     28.0      23.0  57.0
18274       35.0       48.0    48.0     33.0      24.0  58.0
18275       45.0       48.0    51.0     44.0      35.0  54.0
18276       47.0       45.0    52.0     47.0      35.0  59.0
18277       45.0       47.0    55.0     51.0      32.0  60.0

[16242 rows x 6 columns]

In [134]:
players = players.fillna(0)
players.isnull().sum()

short_name       0
age              0
nationality      0
club             0
overall          0
                ..
cb               0
rcb              0
rb               0
main_position    0
bmi              0
Length: 94, dtype: int64

In [135]:
players.head()

,short_name,age,nationality,club,overall,potential,value_eur,wage_eur,player_positions,preferred_foot,...,cdm,rdm,rwb,lb,lcb,cb,rcb,rb,main_position,bmi
0,0,32,0,0,94,94,95500000,565000,0,0,...,66,66,68,63,52,52,52,63,0,24.913495
1,1,34,1,1,93,93,58500000,405000,1,1,...,61,61,65,61,53,53,53,61,1,23.735308
2,2,27,2,2,92,92,105500000,290000,2,1,...,61,61,66,61,46,46,46,61,2,22.204082
4,3,28,3,3,91,91,90000000,470000,3,1,...,63,63,66,61,49,49,49,61,2,24.163265
5,4,28,3,4,91,91,90000000,370000,4,1,...,77,77,77,73,66,66,66,73,3,21.366869

EXPLORATORY DATA ANALYTICS

In [ ]:
# To identify the most valuable position

players_grouped = players.groupby('main_position')['value_eur'].mean()/1e6
players_grouped = players_grouped.sort_values()
players_grouped.plot(kind = 'barh', figsize = (12, 8))
plt.title("Average Player Value in Each Position")
plt.xlabel("Average Value, M euro")
plt.show

In [ ]:
# Age Dependence

players_grouped_age = players.groupby('age')['value_eur'].mean()/1e6
players_grouped_age.plot(grid = True, figsize = (12, 8))
plt.ylabel(' Average Value, M Euro ')
plt.xlabel('Age')
plt.show

In [ ]:
# Top 10 most expensive national teams (grouped by mean of top 25 players)

players_country = players.groupby('nationality')['value_eur'].nlargest(25).reset_index(level = 1, drop = True)
players_country = players_country.groupby('nationality').mean()/1e6
players_country_top10=(players_country.sort_values()).tail(10)
players_country_top10.plot(kind='barh',figsize=(12,8))
plt.xlabel("Average value of TOP25 players, M euro")
plt.show

In [ ]:
# Overall Rating VS Value in Euros

import seaborn as sns
sns.relplot(x='overall',y='value_eur',hue='age',palette = 'viridis',size="bmi", sizes=(15, 200),aspect=2,data=players)
plt.title('Overall Rating vs Value in Euros',fontsize = 20)
plt.xlabel('Overall Rating')
plt.ylabel('Value in Euros')
plt.show()

In [ ]:
# Potential Rating VS Wage in Euros

sns.relplot(x='potential',y='wage_eur',hue='age',palette = 'viridis',size="bmi", sizes=(15, 200),aspect=2,data=players)
plt.title('Potential Rating vs Wage in Euros',fontsize = 20)
plt.xlabel('Potential')
plt.ylabel('Wage in Euros')
plt.show()

In [ ]:
# Count of Preferred Foot

plt.figure(dpi=125)
sns.countplot(data = players,x = 'preferred_foot',hue ='preferred_foot',dodge = False, legend = False, palette='Blues')
plt.xlabel('Preferred Foot Players')
plt.ylabel('Count')
plt.title('Count of Preferred Foot')
Right,Left= players.preferred_foot.value_counts()
print('Left Preferred',Left)
print('Right Preferred',Right)
plt.show()

In [ ]:
# Count of International Reputation of Top 100 Players

plt.figure(dpi=125)
sns.countplot(x = 'international_reputation', hue = 'international_reputation',data = players.head(100),palette='Blues', dodge = False, legend = False)
plt.xlabel('International Reputation')
plt.ylabel('Count')
plt.title('Count of International Reputation of Top 100 Players')
plt.show()

In [ ]:
# Weight VS Pace

plt.figure(figsize=(12,6),dpi=125)
x=players['weight_kg']
y=players['pace']

sns.regplot(x = x,y = y,color='orange')
plt.title('Weight vs Pace',fontsize = 20)
plt.xlabel('Weight')
plt.ylabel('Pace')
plt.show()

In [ ]:
# BMI vs Pace

plt.figure(figsize=(12,6),dpi=125)
x=players['bmi']
y=players['pace']

sns.regplot(x=x,y=y,color='skyblue')
plt.title('BMI vs Pace',fontsize=20)
plt.xlabel('BMI')
plt.ylabel('Pace')
plt.show()

In [ ]:
plt.figure(figsize=(14,7),dpi=150)
sns.countplot(hue = 'club', x = 'club',data=players.head(20),palette='CMRmap', legend = False, dodge = False)
plt.xlabel('Club')
plt.ylabel('Count')
plt.xticks(rotation=45)
plt.title('Which Club has Max players in Top 20?',fontsize = 20)
plt.show()

In [ ]:
plt.hist(players['wage_eur'], bins = 20, edgecolor = 'black')
plt.xlabel("Player Value Ranges")
plt.ylabel("Frequency")
plt.title("Histogram of Player Value Ranges")
plt.show

In [ ]:
selected_columns = ["age","height_cm", "weight_kg", "overall", "potential", "value_eur", "main_position",
                    "preferred_foot", "international_reputation","weak_foot","skill_moves","release_clause_eur","pace",
                    "shooting", "passing", "dribbling", "defending", "physic", "gk_diving", "gk_handling", "gk_kicking", "gk_reflexes",
                    "gk_speed", "gk_positioning", "attacking_crossing", "attacking_finishing",
                    "attacking_heading_accuracy", "attacking_short_passing", "attacking_volleys","skill_dribbling", "skill_curve",
                    "skill_fk_accuracy", "skill_long_passing", "skill_ball_control","movement_acceleration",
                    "movement_sprint_speed", "movement_agility", "movement_reactions", "movement_balance",
                    "power_shot_power", "power_jumping", "power_stamina", "power_strength", "power_long_shots",
                    "mentality_aggression", "mentality_interceptions", "mentality_positioning", "mentality_vision","mentality_penalties",
                    "mentality_composure","defending_marking","defending_standing_tackle", "defending_sliding_tackle", "goalkeeping_diving",
                    "goalkeeping_handling", "goalkeeping_kicking", "goalkeeping_positioning", "goalkeeping_reflexes" ]
players[selected_columns].info()

    MACHINE LEARNING MODEL

In [ ]:
from sklearn.model_selection import train_test_split

features = ['wage_eur', 'overall', 'release_clause_eur', 'skill_long_passing', 'international_reputation']

X = players[features]
y = players['value_eur']

X = X.dropna()
y = y.loc[X.index]

X_train, X_test, y_train, y_test = train_test_split(X, y, test_size = 0.2, random_state = 42)

In [ ]:
from sklearn.tree import DecisionTreeRegressor

model = DecisionTreeRegressor(criterion= "squared_error", max_depth=8, min_samples_split = 10, random_state = 42)
model.fit(X_train, y_train)

y_pred = model.predict(X_test)

In [ ]:
from sklearn.metrics import mean_absolute_error, mean_squared_error, r2_score
mae = mean_absolute_error(y_test, y_pred)

mse = mean_squared_error(y_test, y_pred)
rmse = np.sqrt(mse)

r2 = r2_score(y_test, y_pred)

print(f'Mean Absolute Error: {mae:.2f}')
print(f'Root Mean Squared Error (RMSE): {rmse:.2f}')
print(f'R-squared (R²) Score: {r2:.2f}')
print(f'Tree Depth: {model.get_depth()}')
print(f'Number of Leaves: {model.get_n_leaves()}')

In [ ]:
from sklearn.model_selection import cross_val_score
cross_val_score(model, X_test, y_test, cv = 10)